<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="row col-12">
            <div class="col-md-4 col-sm-12">
                <div class="row col-12">
                    <strong class="text-primary mb-1" style="font-size: 17pt;">Vagas</strong>
                </div>
                
                <div class="col-12 mt-1 jobs" style="border-right: 1px solid #dbdbdb; overflow-y: scroll; height: 65vh;">
                    <% Job.forEach(job => { %>
                        <%if(job.availability >= 1){%>
                            <button class="btn btn-block job_btn mt-1" type="button" id="job<%=job.jobId%>" value="<%=job.jobId%>">
                                <p class="text-left">
                                    <%if(session){%>
                                        <% if(session.permission != "User"){ %>
                                            <strong><%=job.jobName%></strong><a href="/jobs/edit/<%=job.jobId%>" style="float: right;"><img src="/img/pencil.png" width="20" height="18.62" ></a><br>
                                        <% }else{ %>
                                            <%Favorite.forEach(favorite =>{ %>
                                                <%if(favorite.jobId == job.jobId){%>
                                                    <%fav = true %>
                                                <% } %>
                                            <%})%>
                                            <%if(fav){%>
                                                <strong><%=job.jobName%></strong><a href="/favorites/register/<%=job.jobId%>" style="float: right;"><img src="/img/little-filled-star.png" width="20" height="18.62" ></a><br>   
                                                <%fav = false%>
                                            <% }else{ %>
                                                <strong><%=job.jobName%></strong><a href="/favorites/register/<%=job.jobId%>" style="float: right;"><img src="/img/star.png" width="20" height="18.62" ></a><br>       
                                            <% } %>
                                            
                                        <% } %>
                                    <% }else{ %>
                                        <strong><%=job.jobName%></strong><a href="/login" style="float: right;"><img src="/img/star.png" width="20" height="18.62" ></a><br>  
                                    <% } %>
                                    <span style="font-weight: 500;"><%=job.company%></span><br>
                                    <span style="font-style: italic; font-weight: 200;">Vagas: <%=job.availability%></span>  
                                    <br>
                                    <%=job.city%>, <%=job.state%>
                                </p>
                            </button><br>
                        <% } %>
                    <% }) %>
                </div>
            </div>

            <div class="col-md-8" id="jobDescription">
                
            </div>
        </div>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>