<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="row col-12">
            <div class="col-md-4 col-sm-12">
                <div class="row col-12">
                    <strong class="text-primary mb-1" style="font-size: 17pt;">Candidatos</strong>
                </div>
                
                <div class="col-12 mt-1 jobs" style="border-right: 1px solid #dbdbdb; overflow-y: scroll; height: 75vh;">
                    <% Opportunite.forEach(opportunite => { %>

                        <button class="btn btn-block candidate_btn mt-1" type="button" id="job<%=opportunite.id%>" value="<%=opportunite.id%>">
                            <p class="text-left">
                                <strong><%=opportunite.firstName%></strong><br>
                                <span style="font-weight: 500;"><%=opportunite.jobName%></span> 
                                <br>
                                <%if(opportunite.status == "Analyze"){%>
                                <span style="font-style: italic; font-weight: 200;">Analise pendente...</span><br>
                                <% }else{ %>
                                    <%if(opportunite.status == "Pending"){%>
                                        <span style="font-style: italic; font-weight: 200;">Entrar em contato...</span><br>
                                    <% }else{ %>
                                        <span style="font-style: italic; font-weight: 200;">Dispensado</span><br>
                                    <% } %>
                                <% } %>
                                <%=opportunite.city%>, <%=opportunite.state%>
                            </p>
                        </button><br>
                    <% }) %>
                </div>
            </div>

            <div class="col-md-8" id="userDescription">
                
            </div>
        </div>  
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>